html{
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"HelveticaNeue",Arial,"Noto Sans",sans-serif;
}

header > img{
    border-radius: 30%;
    border: 2px solid #2D3748;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 5fr 0.5fr;
    grid-gap: 20px;
}

header{
    margin: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3C8527;
    grid-column: span 2;
    grid-row: 1;
    color: #FFFFFF;
}

aside{
    grid-column: 1;
    grid-row: 2;
    margin: 5px;
    padding-right: 10px;
    border-right: #66726783 solid 2px;
}

main{
    grid-column: 2;
    grid-row: 2;
    margin: 0px 30px;
}

article{
    padding: 10px;
    border-bottom: #66726783 solid 2px;
}

.left-pic{
    float: left;
    margin: 10px 20px;

}

.right-pic{
    float: right;
    margin: 10px 20px;
}

h1{
    margin-bottom: -5px;
    font-size: 39px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h2{
    margin-bottom: -4px;
    font-size: 34px;
    color: #28651C;
}

h2 + p{
    color: #667267;
}

h3{
    color: #28651C;
    font-family: Georgia,'Times New Roman', Times, serif;
    margin-bottom: -10px;
}

a{
    color: #2879B8;
}

.about-me > h3{
    color: #333322;
}

.about-me{
    background-color: #E2E8F0;
    padding: 10px;
}

footer{
    margin: -8px;
    text-align: center;
    grid-column: span 2;
    grid-row: 3;
    background-color: #28651C;
    color: #FFFFFF;
    font-weight: 100;
}